@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic);

@keyframes hideShow {
    0% {opacity:0;}
    10% { opacity:0.2;}
    20% { opacity:0;}
    100% { opacity:0;}
}
* {
    box-sizing:border-box;
}
html {
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    line-height:1.5;
    color:#333;
    box-sizing:border-box;
}
body {
    box-sizing:border-box;
}
a {
    cursor:pointer;
}
.main-image {
    background-image:url("../images/clouds.jpg");
    background-size:cover;
    background-position: left center;
    background-attachment: fixed;
    background-color:rgba(white,0.7);
    background-blend-mode:overlay;
    width:100%;
    min-height:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:hidden
}
#particles-js {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    @include background-image(linear-gradient(transparent, transparent, transparent, transparent, transparent, rgba(white,1)));
}
.message-block {
    position:relative;
    z-index:100;
    line-height:1;
    text-align:center;
    padding-bottom:100px;
    .begin {
        font-size:1rem;
        color: #314570;
        text-transform:uppercase;
        letter-spacing:2px;
    }
    .word {
        display:inline-block;
        font-weight:bold;
        font-size:3rem;
        text-transform:uppercase;
        color: #314570;
        letter-spacing:2px;
        line-height:5rem;
    }
    .ampersand {
        display:inline-block;
        font-size:4rem;
        vertical-align:top;
        font-family:'playfair display', serif;
        color: rgba(black,0.5);
    }
    .tagline {
        font-family:'Alegreya', serif;
        font-size: 1.25rem;
        color: #314570;
    }
}
.logo {
    display:inline;
    font-weight:700;
}

.home-devices {
    position:absolute;
    height:100%;
    left: 0;
    top:0;
    width:100%;
    z-index:0;
    overflow-y:hidden;
}

.device {
    position:absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -48%) scale(1);
    opacity: 0;
    animation: hideShow 20s infinite;
}

.device-1{

    animation-delay: 4s;
}
.device-2{

    animation-delay: 8s;
}
.device-3{

    animation-delay: 12s;
}
.device-4{

    animation-delay: 16s;
}
.device-5{

    animation-delay: 20s;
}

.btn {
    font-family:'Raleway', sans-serif;
    background:transparent;
    border: 2px solid #314570;
    color: #314570;
    font-size: 0.8rem;
    margin-top:1rem;
    height:2rem;
    width:8rem;
    cursor:pointer;
    border-radius:3px;
}

.coa-btn {
    background: #314570;
    color: #fce762;
    font-weight:700;
    letter-spacing:1px;
    &:hover {
        background:#112550;
    }
}
.ghost-btn {
    &:hover {
        background:rgba(white,0.5);
    }
}

.menu {
    position:fixed;
    z-index: 200;
    width:100%;
    background-color: #fff;
    a{
        text-decoration:none;
        font-size:0.8rem;
        letter-spacing:1px;
        color:$focal;
        display:block;
        line-height:2rem;
        transition: 1s all ease;
        border-bottom: 2px dashed rgba(#314570,0.1);
        &:hover {
            border-bottom: 2px dashed #314570;
            color: #112550;
        }
    }
    ol {
        text-align: center;
    }
    li {
        line-height:2;
        width:100px;
        display:inline-block;
        text-align:center;
    }
}
.main-heading {
    font-size:2rem;
    font-weight: 700;
    color:#222;
    text-align:center;
}

.about-section {
    padding-top:100px;
}

.content-wrapper {
    max-width:40rem;
    margin:auto;
    font-family:'Alegreya', serif;
    font-size: 1.5rem;
}
.testi-tagline {
    max-width:40rem;
    margin:auto;
    padding:2rem 0;
    text-align:center;
    font-size:1.5rem;
    font-family:'Alegreya',serif;
}
.classy-text {
    font-family:'Raleway', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 0px;
}
.our-work {
    background:rgba(230,230,255,0.3);
}
.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0
}

.browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
}

.browser-mockup > * {
    display: block;
}

.browser-mockup {
    margin: 2em;
    flex: 1;
}

img {
    width: 100%;
}

.project-slide {
    display:flex;
    align-items: center;
    justify-content: center;
}
.project-image {
    width:50%;
}
.project-description {
    width:50%;
    min-height:300px;
}
.project-content {
    width:70%;
    margin:auto;
    img {
        width:350px;
        opacity:0.2;
    }
    img.acoj-tech {
        width:150px;
    }
}
.project-title {
    font-size:2rem;
    color:$focal;
    font-family:'Alegreya', serif;
}
.testimonial {
    width:50%;
    margin:auto;
    padding:50px 0;
    font-family: 'Alegreya', serif;
    font-size:1rem;
    img {
        width:150px;
        height:150px;
        border-radius:50%;
    }
    .testi-content {
        display:inline-block;	
        vertical-align:top;
        width:70%;
        margin:20px 0 0 10px;
    }
    a {
        text-decoration:none;
        color:$focal;
        &:hover {
            text-decoration:underline;
        }
    }
}
q {
    font-style:italic;
    font-family:'Alegreya', serif;
    color:$focal;
    font-size:1rem;
    &:before {
        content:'\201c';
    }
    &::after{
        content:'\201d';
    }
}
.q-name {
    color:$focal;
    font-weight:bold;
    margin-left:10px;
}
.footer {
    background:rgba(230, 230, 230, 0.7);
    width:100%;
    .quote {
        text-align:center;
        padding-bottom:100px;
        q {
            font-size:1.5rem;
        }
    }
}
footer {
    .icons {
        display:flex;
        justify-content:center;
        width:100%;
        padding:100px 0  50px 0;
        a { text-decoration:none; }
        .icon { 
            text-align:center;
            font-size:1.5rem;
            width:60px;
            height:60px;
            margin:0 20px;
            line-height:60px;
            border:3px solid #ccc;
            border-radius:50%;
            transition:all 1s ease;
            color:#888;
            &:hover {
                border:3px solid $focal;
                color:$focal;
            }
        }
    }

}
.wide {
    width:40%;
}
.contact-form {
    margin:0 auto 50px auto;
    p {
        text-align:center;
        font-family:'Alegreya', serif;
        font-size:1.5rem;
        margin-bottom:10px;
    }
    input, textarea { 
        width:100%;
        height:50px; 
        font-family:'Alegreya', serif;
    }
    input.send-btn { font-family: 'Raleway',sans-serif; }
    input{
        height:60px;
    }
    textarea{
        height: 180px;
    }
    .msg {
        outline:none;
        font-size:1rem;
        margin:0 0 10px 0;
        border:none;
        border-bottom:1px solid $focal;
        padding:3px 5px;
        background:transparent;
        color:$focal;
        box-sizing:border-box;
    }
    .label {
        font-size:0.8rem;
    }
}
.polythene {
    position:fixed;
    z-index:190;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    display:none;
}
.lightbox {
    position:fixed;
    top:48%;
    left:50%;
    transform: translate(-50%, -48%) scale(1);
    z-index:200;
    background:#fff;
    padding:50px;
    border-radius:5px;
    box-shadow:20px 20px 20px rgba(0,0,0,0.3);
    display:none;
    .cancel-btn {
        background:$focal;
        border-radius:50%;
        color:#fff;
        position:absolute;
        top:10px;
        right:10px;
        padding:0 10px;
        box-shadow:2px 2px 2px #333;
        cursor:pointer;
        &:hover {
            background:#112550;	
        }
    }
    .contact-form {
        margin-bottom:0;
    }
}
.hire-text {
    text-align:center;
    margin:-20px 0 10px 0;
    font-family:'Alegreya', serif;
    font-style:italic;
    font-size:1rem;
}
.notify-message {
    color:green;
    font-family:'Alegreya', serif;
    font-size:1.5rem;
}

.open-menu, .small-menu{
    display:none;
}
.projects {
    width:80%;
    margin:auto;
    .project-slide {
        padding:2rem 0;
        margin-bottom:2rem;
    }
}
.replay-2 {
    display:none;
}
.cancel-menu {
    display:none;
}
@media screen and (max-width: 768px) {
    .message-block {
        .ampersand {
            line-height:1.2;
            font-size:3.5rem;
        }
        .begin { font-size:0.8rem; }
        .tagline { font-size:1rem; }
        .word {font-size:2.5rem; }
    }
    .menu {
        display:none;
    }
    .open-menu, .cancel-menu {
        position:fixed;
        background:$focal;
        color:#fff;
        padding:8px 12px;
        top:20;
        left:20;
        z-index:200;
        cursor:pointer;
        display:block;
    }
    .cancel-menu {
        display:none;
    }
    .small-menu {
        display:block;
        background:$focal;
        color:#fff;
        opacity:0;
        width:0;
        height:0;
        padding:30px 45px;
        position:fixed;
        z-index:200;
        top:20;
        left:20;
        li {
            display:block;	
            padding:10px;
            cursor:pointer;
            &:hover{
                a { color: yellow; }
            }
            a{		
                color:#fff;
                text-decoration:none;
            }
        }
    }
    .sm-opn {
        height:auto;
        width:250px;
        opacity:1;
        transition:all 0.5s ease;
    }
    .project-slide {
        display:block;
    }
    .project-description img {
        display:none;
    }
    .replay-1 { display:none; }
    .replay-2 { display:block; }
    .project-description, .project-image {
        width:100%;
        min-height:0;
    }
    .projects { padding-bottom:50px; }
    .testimonial { 
        width:85%; 
        img {
            width:100px;
            height:100px;	
        }
    }
    .contact-form {
        input {
            width:100%;
        }
    }
    .testi-tagline{ 
        width:95%; 	
        font-size:1rem;
    }
    .lightbox {
        .contact-form {
        }
    }
}
@media screen and (max-width: 520px) {
    .message-block {
        .word {
            font-size:2rem;
            letter-spacing:0;
        }
        .ampersand {
            font-size:3rem;
            line-height:1.5;
        }
    }
    .lightbox {
        left:40%;
        transform:translate(-40%, -48%) scale(1);
        padding:20px;
    }
}
@media screen and (max-width: 400px) {
    .message-block {
        .ampersand {
            font-size:2.5rem;
            display:block;
            line-height:0.5;
        }
        .word {
            line-height:1.5;
        }
        .begin {
            line-height:1.5;
        }
        .tagline {
            line-height:1.25;
        }
    }
    .project-title {
        font-size:1.5rem;
    }
    .testimonial { 
        text-align:center;
        .testi-content {
            width:100%;
        }
    }
    .footer .icons {
        .icon {
            font-size:1.2rem;
            width:40px;
            height:40px;
            line-height:40px;
            border:1px solid $focal;
            color:$focal;
        }
    }		
    .lightbox {
        width:80%
    }
    .contact-form {
        width:90%;
        input {
            width:100%;
        }
    }
    .footer .quote q {
        font-size:1rem;
        margin-bottom:40px;
    }
}

.menu-icon:before{
    font-size: 20px;
}

@media screen and (max-height: 600px) {
    .main-image { height:auto; }
    .message-block{
        padding-top:70px;
    }
    .open-menu, .small-menu, .cancel-menu {
        top:20;
        left:10;
    }
    .open-menu {
        padding:5px 9px;
    }
    .sm-opn {
        height:auto;
        width:250px;
        opacity:1;
        transition:all 0.5s ease;
        ol li a {
            font-size:0.9rem;
        }
    }
}

@media screen and (max-height: 400px) {
    .small-menu li {
        padding:5px 10px; 
    }
    .lightbox {
        .contact-form {
            width:90%;
            .msg {
                height:30px;	
                font-size:0.8rem;
            }
        }
    }
}	

#scroll {
    position:fixed;
    right:15px;
    bottom:15px;
    cursor:pointer;
    width:40px;
    height:40px;
    border: 4px solid transparent;
}

#scroll2{
    opacity: 0;
    transition: opacity 1s;
}

#scroll3{
    opacity: 0.5;
}
