.t-header {
    background:url('../images/pattern.png');
    width:100%;
    height:16rem;
    padding-top:6rem;
    color:#3e3d49;
    text-align:center;
    .t-title {
        font-size:2.5rem;
    }
}
.programs-btn {
    background-color:$focal;
    border:none;
    padding:1rem 3rem;
    color:#fff;
    font-size:0.8rem;
    text-transform:uppercase;
    letter-spacing:1.25px;
    border-radius:3px;
    font-weight:600;	
    margin-top:3.25rem;
    cursor:pointer;
    transition:background-color 0.5s ease;
    &:hover {
        background-color:$dark-focal;
    }
}
.t-center {
    text-align:center;
    font-family:'Alegreya', serif;
}
.large-text {
    font-size:2.5rem;
    color:$focal;
}
.mid-text {
    font-size:1.5rem;
    text-align:center;
    margin-top:2.5rem;
}
.training-flow {
    ul{
        width:90%;
        margin:1rem auto 8rem auto;
        display:flex;
        justify-content:space-around;
        align-items:flex-start;
        flex-direction:row;
        flex-wrap: wrap;
        li {
            text-align:center;
            margin:1rem;
            max-width:10rem;
            display:inline-block;
            .f-icon {
                width:6rem;
                height:6rem;
                margin:1rem auto;
                img {
                    width:100%;
                    height:100%;
                }
            }
            .f-title{
                display:inline-block;
                vertical-align:top;
                font-weight:400;
                font-size:1.25rem;
                font-family:'Alegreya', serif;
            }
        }
    }	
}
.courses {
    background:rgba(230,230,255,0.3);
    padding:4rem 0;
    h2 { padding:4rem; }
    ul{
        width:90%;
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        li {
            width:28%;
            min-width:15rem;
            height:20rem;
            background:#fff;
            border:2px solid rgba(230,230,230, 1);
            border:3px 3px 3px #333;
            border-radius:3px;
            display:inline-block;
            vertical-align:top;
            padding:2rem;
            margin:1rem;
            font-family:'Alegreya', serif;
            .c-title {
                font-size:1.5rem;
                font-weight:400;
                a { text-decoration:none; 
                    color:$focal; 
                    transition:all 0.5s ease;
                    &:hover{ font-weight:600;}
                }
            }
            .c-tagline {
                font-size:1rem;
            }
            .c-img{
                width:65%;
                height:20%;
                opacity:0.5;
                margin-top:1.5rem;	
            }
            .c1-img{
                width:50%;
                height:10%;
                opacity:0.5;
                margin-left: 1.5rem;
                margin-top:.5rem;	
            }
            .f-img {
                width:32%;
                height:20%;
                margin-top:1.5rem;	
                display:inline-block;
                opacity:0.5;
                img {
                    width:100%;
                    height:100%;		
                }
            }
        }
        .custom {
            background:$focal;
            color:#fff;
            .c-title a {
                color:#fff;
            }
            .ghost-btn {
                background:transparent;
                color:#fff;
                font-family:'Alegreya', serif;
                border:3px solid #fff;
                border-radius:3px;
                text-align:center;
                width:10rem;
                margin:8rem 0;
                font-size:1.1rem;
                line-height:2rem;
                letter-spacing:1px;
                cursor:pointer;
                transition:all 0.5s ease;
                &:hover {
                    background:#eee;
                    color:$focal;
                }
            }
        }
    }
}
.faq {
    padding:4rem 0;
    width:70%;
    margin:auto;
    ul {
        li{
            margin:1rem 0;
            font-family:'Alegreya', serif;
            .que {
                font-size:1.5rem;
                font-weight:600;
            }
        }
    }
}
.t-footer {
    text-align:center;
    min-height:20rem;	
    background:rgba(230,230,255,0.7);
}

@media screen and (max-width:500px) {
    .training-flow {
        ul {
            flex-direction: column;
        }
    }
}

@media screen and (max-width:768px) {
    .training-flow {
        ul {
            li {
                width:50%;
                margin:0.5rem auto;
            }
        }
    }
    .large-text { font-size:2rem; }
    .courses {
        ul li {
            width:60%;
        }
    }
    .t-header .t-title {
        font-size:2rem;
    }
    .programs-btn {
        font-size:0.6rem;
        margin-top:4rem;
    }
}
@media screen and (max-width:520px) {
    .programs-btn {
        margin-top:3rem;
        padding:0.8rem 2rem;
    }
    .faq {
        ul li .que {
            font-size:1rem;
        }
    }
    .courses ul li .f-img {
        width:3rem;
        height:3rem;
    }
}
@media screen and (max-width:350px) {
    .t-header {
        .t-title{
            font-size:1.5rem;
            font-weight:600;
        }
        .t-tagline {
            font-size:0.8rem;
        }
        .programs-btn {
            margin-top:4rem;
        }
    }
    .mid-text {
        font-size:1.2rem;
    }
    .training-flow {
        ul {
            margin-bottom:3rem;
            li {
                .f-icon {
                    width:4rem;
                    height:4rem;
                    margin:0.5rem auto;
                }
                .f-title{
                    font-size:1.1rem;
                }
            }
        }
    }
    .courses ul .custom .ghost-btn {
        border:2px solid #fff;
        width:9rem;
        font-size:1rem;
    }
    .large-text { font-size:1.5rem; }
    .courses h2 { padding:1rem; }
    .courses ul li {
        .c-title {
            font-size:1.25rem;
            font-weight:600;
        }
    }
}
@media screen and (max-height:350px) {
    .t-header {
        height:13rem;
        padding-top:3rem;
    }
    .training-flow {
        ul {
            margin-bottom:3rem;
            li {
                .f-icon {
                    width:4rem;
                    height:4rem;
                    margin:0.5rem auto;
                }
                .f-title{
                    font-size:1.1rem;
                }
            }
        }
    }
    .courses h2 { padding:1rem; }
    .courses ul li {
        .c-title {
            font-size:1.25rem;
            font-weight:600;
        }
    }
    .courses ul .custom .ghost-btn {
        border:2px solid #fff;
        width:9rem;
        font-size:1rem;
    }
}