    /*
    Flaticon icon font: Flaticon
    Creation date: 04/05/2016 10:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-facebook:before { content: "\f100"; }
.flaticon-facebook-2:before { content: "\f101"; }
.flaticon-facebook-logo:before { content: "\f102"; }
.flaticon-gmail-envelope:before { content: "\f103"; }
.flaticon-google-browser:before { content: "\f104"; }
.flaticon-google-plus:before { content: "\f105"; }
.flaticon-menu:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-search:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
    
    $font-Flaticon-facebook: "\f100";
    $font-Flaticon-facebook-2: "\f101";
    $font-Flaticon-facebook-logo: "\f102";
    $font-Flaticon-gmail-envelope: "\f103";
    $font-Flaticon-google-browser: "\f104";
    $font-Flaticon-google-plus: "\f105";
    $font-Flaticon-menu: "\f106";
    $font-Flaticon-placeholder: "\f107";
    $font-Flaticon-search: "\f108";
    $font-Flaticon-twitter: "\f109";