    /*
    Flaticon icon font: Flaticon
    Creation date: 10/07/2017 16:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cross:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-social-media-1:before { content: "\f102"; }
.flaticon-social-media:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-menu:before { content: "\f105"; }
    
    $font-Flaticon-cross: "\f100";
    $font-Flaticon-search: "\f101";
    $font-Flaticon-social-media-1: "\f102";
    $font-Flaticon-social-media: "\f103";
    $font-Flaticon-facebook: "\f104";
    $font-Flaticon-menu: "\f105";