	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/07/2017 16:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
font-style: normal;
}

.flaticon-cross:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-social-media-1:before { content: "\f102"; }
.flaticon-social-media:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-menu:before { content: "\f105"; }